@page
@model IndexModel
@{
    ViewData["Title"] = "Rupender Singh Wedding";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>*@


<div class="row" id="welcome">
    <div class="col-xs-12 padding-0">
        <img src="~/images/welcome.jpg" style="width:100%; height:100%" />
    </div>
</div>

<div class="">
    <div class=" row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-xs-4 padding-0" id="invitation">
                <a href="/invitation">
                    <img src="~/images/invitation.jpg" style="width:100%" />
                </a>
            </div>
            <div class="col-md-4 col-xs-4 padding-0" id="contacts">
                <a href="/contacts">
                    <img src="~/images/contacts.jpg" style="width:100%" />
                </a>
            </div>
            <div class="col-md-4 col-xs-4 padding-0" id="schedule">
                <a href="schedule">
                    <img src="~/images/schedule.jpg" style="width:100%" />
                </a>
            </div>
        </div>
    </div>
</div>
