@page
@model AboutModel
@{
    ViewData["Title"] = "Rupender Singh Wedding";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>*@


<div class="row" id="welcome">
    <div class="container col-md-12">
        <img src="~/images/welcome.jpg" width="100%" height="100%" />
    </div>
</div>

<div class="row">
    @*<div class="container col-sm-2 col-sm-offset-3"><h1>Venue</h1> <p>C-22/18 St. No. 9, Sadh Nagar, Palam  </p></div>
        <div class="container col-sm-2 col-sm-offset-2"><h1>Venue</h1> <p>C-22/18 St. No. 9, Sadh Nagar, Palam </p></div>*@
</div>

<div class=" row">
    <div class="col-md-4" id="invitation">
        <img src="~/images/invitation.jpg" width="100%" />
    </div>
    <div class="container col-md-4" id="schedule">
        <img src="~/images/schedule.jpg" width="100%" />
    </div>
    <div class="col-md-4" id="contacts">
        <img src="~/images/contacts.jpg" width="100%" />
    </div>
</div>

